sudo: required
services:
  - docker

before_install:
  - docker build -t sarazahraoui19/multi-docker -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true sarazahraoui19/multi-docker npm run test -- --coverage

after_success:
  - docker build -t sarazahraoui19/multi-client ./client
  - docker build -t sarazahraoui19/multi-nginx ./nginx
  - docker build -t sarazahraoui19/multi-server ./server
  - docker build -t sarazahraoui19/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Push those images to the docker hub
  - docker push sarazahraoui19/multi-client
  - docker push sarazahraoui19/multi-nginx
  - docker push sarazahraoui19/multi-server
  - docker push sarazahraoui19/multi-worker